body {
    font-family: Arial;
    background: #1d1b1b;
  }
//   style={{backgroundImage:`url(${img  })`}}
  /* Header/Blog Title */

  .header1 {
    position: relative;
    width: 100%; /* Maximum width */
    margin: 0 auto; /* Center it */
    margin-bottom: 2rem;
  }
  
  .header1 .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    //background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
  }

  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 73%;
  }

.container {
    position: relative;
    max-width: 800px;
    margin: 3rem auto;
}
  
.container img {
      vertical-align: middle;
}
  
.container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
}

  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 1rem;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: rgb(14, 13, 14);
    border: 2px solid purple;
    border-radius: 10px;
    //padding: 20px;
    margin: 3rem auto;
    color: seashell;
  }

  .pop-post{
      padding: 2rem;
      border: 1px solid gray;
      text-align: left;
  }

  .pop-post:hover{
      background-color: #bc6ff1;
      color: black;
      transition: 0.5s;
  }

  .pop-post div{
      font-weight: 800;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #000000;
    color: beige;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }