nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
}

.left {
    display: flex;
    align-items: flex-end;
}

span {
    padding-left: 50px;
    padding-right: 30px;
}