.head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;



}

.left {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

.right {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-content: center;

    .inner-right {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }
}


.aboutus {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

h2 {
    font-size: 45px;
}

.button {
    background-color: rgba(116, 24, 116);
    /* Green */
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 10px;
    color: bisque;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 10px;
}

.author {
    text-align: center;
    font-size: 25px;
}